::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 56, 129, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(3, 251, 253, 0.4);
  border-radius: 3px;
  
  &:hover {
    background: rgba(3, 251, 253, 0.6);
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}
